html, body {
	font-family: Heltevica, Arial, sans-serif;
}

#wrapper {
	width: 960px;
	margin: 0pt auto;
}

h1 {
	margin: 20px 0 0 0;
}

p {
	margin-bottom: 50px;
}

#wrapper form {
	width: 600px;
	float: left;
}

.submit-btn {
	font-family: Arial;
	background: #333;
	border: none;
	padding: 8px 15px;
	color: #fff;
	font-size: 14px;
}

#output-container {
	width: 330px;
	float: left;
	margin: -5px 0 0 10px;
	border: 1px solid #ccc;
}

#output-container span {
	text-transform: uppercase;
	font-size: 9px;
	padding: 2px;
	font-weight: bold;
	display: block;
	border-bottom: 1px solid #ccc;
}

#output {
	min-height: 150px;
	padding: 10px;
	font-size: 11px;
	font-family: "Monaco", "Courier New";
	-webkit-transition: background 0.5s ease;
    -moz-transition: background 0.5s ease;
    -ms-transition: background 0.5s ease;
    -o-transition: background 0.5s ease;
    transition: background 0.5s ease;
}

#output.highlighted {
	background: #F5F297;
}